@font-face {
    font-family: "Golos UI";
    src: url("../fonts/golos-ui_bold.woff2") format("woff2"),
         url("../fonts/golos-ui_bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Golos UI";
    src: url("../fonts/golos-ui_medium.woff2") format("woff2"),
         url("../fonts/golos-ui_medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Golos UI";
    src: url("../fonts/golos-ui_regular.woff2") format("woff2"),
         url("../fonts/golos-ui_regular.woff") format("woff");
    font-weight: 400;
}

*
{
    margin: 0;
    padding: 0;
}

.login{
    display: flex;
    flex-direction: row;
    gap: 107px;
    justify-content: center;
}

.login__intro{
    margin-top: 118px;
}

.login__image{
    width: 462px;
    height: 501px;
}

.login__title{
    font: 700 140px/180px "Golos UI", sans-serif;
    letter-spacing: -1.5px;
    color: #222222;
    max-width: 385px;
    margin: -612px 0 0 -90px;
}

.login__form{
    display: flex;
    flex-direction: column;
    margin-top: 246px;
}

.login__label{
    font: 400 15px/18px "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
    margin-bottom: 5px;
}

.login__input{
    padding: 13px 12px;
    border-radius: 10px;
    background-color: #F2F3F5;
    border: none;
}

.login__hint{
    font: 400 13px/16px "Golos UI", sans-serif;
    letter-spacing: -0.08px;
    color: #808080;
    margin-top: 5px;
    margin-bottom: 16px;
}

.login__password-toggle{
    width: 24px;
    margin: -33px 0 0 307px;
}

.login__button{
    font: 500 16px "Golos UI", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #222222;
    padding: 14.5px 125px;
    border-radius: 10px;
    margin-top: 41px;
}
