RewriteEngine On
RewriteBase /lw7/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home/?$ home.php [L,QSA]
RewriteRule ^post/?$ post.php [L,QSA]
RewriteRule ^profile/?$ profile.php [L,QSA]
RewriteRule ^login/?$ login.php [L,QSA]