.login{
    display: flex;
    flex-direction: row;
    gap: 107px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.login__intro{
    position: relative;
}

.login__image{
    width: 462px;
    height: 501px;
}

.login__title{
    font: 700 140px/180px "Golos UI", sans-serif;
    letter-spacing: -1.5px;
    color: #222222;
    max-width: 385px;
    z-index: 2;
    position: absolute;
    top: -106px;
    left: -90px;
    
}

.login__form{
    display: flex;
    flex-direction: column;
}

.login__label{
    font: 400 15px/18px "Golos UI", sans-serif;
    letter-spacing: -0.15px;
    color: #222222;
    margin-bottom: 5px;
}

.login__input{
    padding: 14px 12px;
    border-radius: 10px;
    background-color: #F2F3F5;
    border: none;
    width: 93%;
}

.login__hint{
    font: 400 13px/16px "Golos UI", sans-serif;
    letter-spacing: -0.08px;
    color: #808080;
    margin-top: 5px;
    margin-bottom: 16px;
}

.login__password{
    position: relative;
}

.login__password-toggle{
    width: 24px;
    position: absolute;
    right: 12px;
    top: 10px;
}

.login__button{
    font: 500 16px "Golos UI", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #222222;
    padding: 14.5px 125px;
    border-radius: 10px;
    margin-top: 32px;
}
